@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #CC5500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #CC5500;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0.5rem;
  text-decoration: none;
}

.btn {
  @apply px-4 h-10 m-4 rounded-full text-lg bg-blue-500 border-4 border-blue-800 hover:bg-blue-800 text-white text-center
  font-bold flex items-center justify-center;
}

.box {
  @apply border border-black rounded-xl;
}

.sectitle {
  @apply flex justify-around p-[3%] pb-0 gap-4 font-mono text-4xl;
}

.blurb {
  @apply flex items-end p-[4%] text-xl;
}

.line {
  @apply w-250 mx-auto h-1 bg-white border-0 border-black;
}

@keyframes lavenderToBurnt {
  0% { background-color: #E6E6FA; }
  100% { background-color: #CC5500; }
}

@layer utilities {
  .animate-lavender-burnt {
    background-color: #E6E6FA;
    animation: lavenderToBurnt 5s ease-in-out infinite alternate;
  }
}
